@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #1f1e1e;
  --white: #fff;
  --black: #000;
  --grey: #d2cccc;
  --light-grey: #e9e9e9;
  --red: #dc3545;
  --primary-btn-color: #fefe1cc5;
  --nav-link-hover: #e9fa04a4;
  --sm-border-radius: 8px;
  --lg-border-radius: 10px;
  --xl-border-radius: 20px;
  --sm-line-height: 1.5em;
  --lg-font-size: 24px;
  --sm-font-size: 14px;
  --d-width: 78%;
  --p-width: 90%;
}

/* ------------------------------------ */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Title Css Start */
.img-bg{
  width: 100%;
  height: 150px;
  padding-top:50px;
  background-color: rgba(185, 7, 30, 0.5);
  color: #fff;
  font-variant: inherit;
  font-size: normal;
  border: 1px solid yellow;
  border-radius: 6px;
  box-shadow: outset;
}

.img-bg:hover{
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.735), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  text-align: center;
  font-size: large;
  
}
/* End Title Css */



/* Custom CSS for responsiveness */

.upper{
  background-color: rgba(185, 7, 30, 0.5);
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.735), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  width: 100%;
  height: fit-content;

}
.card a {
  
  background-color:rgba(185, 7, 30, 0.5);
  color:#fff
}
.card a:hover {
  background-color: #fff;
  color: #bb1021;
}
.card {
  /* Add some spacing between cards */
  margin-right: 15px;
  margin-top: 80px;
  margin-bottom: 15px;
  border: 1px solid rgba(185, 7, 30, 0.5);
  border-radius: 15px solid white;
  
}
/* Animated styles */
.card {
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}


/* Optional: Center align the card content */
.card-body {
 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(155, 155, 155, 0.735), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  text-align: center;
  font-size: large;
}

.card-title {
  margin-bottom: 10px;
}

.red-dark-line {
  border: 2px solid #8b0000; /* Dark red color */
  margin: 20px 0; /* Adjust the margin as needed */
}
@media (max-width: 767px) {
  .card-deck {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
          }
          
      .card {
        margin-bottom: 15px;
      }
  }

  
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding-top: 20px;
  margin: 0 auto 0;

}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  /* background-color: #ddd; */
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc451;
}

/* ----------------------------------

---------------------------------------- */


.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}


.test{
  padding: 40px 0;
  margin-bottom: 20px;
  background: url(../../img/testimonials-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border: #ffc451 2px solid;
  border-radius: 12px;
  width: 100%;
}


@media (max-width: 767px) {
  .carousel-caption {
    text-align: center;
  }
}


/* Style the carousel for responsive media query */
@media (max-width: 767px) {
    .clients .carousel-inner {
    /* Make the carousel slides fit the screen width */
    height: 300px;
  }
}

/* Make the carousel controls smaller for mobile devices */
@media (max-width: 767px) {
.clients .carousel-control-prev,
.clients .carousel-control-next {
   height: 30px;
   width: 30px;
  
  }
}

/* Make the carousel indicators smaller for mobile devices */
@media (max-width: 767px) {
    .clients .carousel-indicators {
    
      width: 10px;
      height: 10px;
    
  }
}





/* ============================= Banner Page Design -------------------------------- */

.main_page{
  width: 78%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2.8em;
  padding-block: 4em;

}

.main_page h1,span{
  font-size: 50px;
  font: 700;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
 
}

.main_btns{
  display: flex;
  gap: 4em;
}

.secondarybtn{
  background-color: rgb(251, 248, 248);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  padding: 0.518em 1.21em;
  border: none;
  outline: none;
  border-radius: var(--sm-border-radius);
  color: rgb(30, 0, 0);
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
  position: relative;
}
.secondarybtn:hover{
  background-color: var(--primary-btn-color);
 
  border-radius: var(--sm-border-radius);
  cursor: pointer;

}


.primaryBtn{
  background-color: rgb(241, 239, 239);
  color: rgb(47, 35, 35);
  padding: 0.5em 1.5em;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  border-radius: var(--sm-border-radius);
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  align-self: flex-start;
}

.primaryBtn:hover{
  background-color: var(--primary-btn-color);

  border-radius: var(--sm-border-radius);
  cursor: pointer;
}